{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">


    {% block nav %}
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark elnav">
            <a class="navbar-brand neon" href="{{ path('portada') }}"> CyberTrap TCG</a>
            <button class="btn-outline-primary navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Mostrar secciones">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse " id="navbarCollapse">
                {% set ruta = app.request.get('_route') %}
                <ul class="navbar-nav mr-auto">

                   {% if is_granted('ROLE_ADMIN') %}
                       <li class="nav-item ">
                           <a class="nav-link" href="{{ path('admin_panel') }}"><i class="fas fa-cog"></i> Admin Panel</a>
                       </li>
                    {% else %}
                    <li class="nav-item{% if ruta == "portada" %} active{% endif %}">
                        <a class="nav-link" href="{{ path('portada') }}"><i class="fas fa-vihara"></i> Night City<span class="sr-only">(actual)</span></a>
                    </li>
                    <li class="nav-item{% if ruta starts with "user_" %} active{% endif %}">
                        <a class="nav-link" href="{{ path('user_list') }}"><i class="fas -crown fa-crown"></i> Ranking</a>
                    </li>

                       {% if is_granted('ROLE_PLAYER') %}
                           <li class="nav-item{% if ruta starts with "user_" %} active{% endif %}">
                               <a class="nav-link" href="{{ path('game_prepara', {'id':usuario.id}) }}"><i class="fas -jedi fa-jedi"></i>Jugar</a>
                           </li>
                           {% else %}
                               <li class="nav-item {% if ruta starts with "card_" %} active{% endif %}">
                                   <a class="nav-link" href="{{ path('card_list') }}"><i class="fas -solar-panel fa-solar-panel"></i> Personajes</a>
                               </li>
                            {% endif %}
                    {% endif %}
                </ul>

                {% if app.user %}
                    <span class="navbar-light"><i class="fas crown fa-crown"></i>{{ app.user.reputation }}&nbsp&nbsp</span>
                    <span class="golden navbar-light"><i class="golden fas fa-dollar-sign"></i>{{ app.user.credits }}&nbsp&nbsp</span>
                <span class="navbar-light">!Hola, <a class="retro" href="{{ path('usuario_perfil') }}">{{ app.user.nickname|capitalize }}</a>! </span>
                    <a href="{{ path('usuario_salir') }}" class="ml-3 btn btn-outline-primary"><i class="fas fa-power-off"></i> EXIT</a>

                {% else %}
                    <span> <a href="{{ path('usuario_nuevo') }}">Registro&nbsp&nbsp</a></span>
                    {% if ruta ends with 'entrar' %}

                    {% else %}
                        <a href="{{ path('usuario_entrar') }}" class="btn btn-outline-primary"><i class="fas fa-sign-in-alt"></i> ENTRAR</a>
                    {% endif %}
                {% endif %}
            </div>

        </nav>
        {% for mensaje in app.session.flashbag.get('exito') %}
            <div class="alert alert-success alert-dismissible">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ mensaje }}
            </div>
        {% endfor %}
        {% for mensaje in app.session.flashbag.get('error') %}
            <div class="alert alert-success alert-dismissible">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ mensaje }}
            </div>
        {% endfor %}
    {% endblock %} {#NAV#}



        {% block contenidoExt %}
        {% endblock %}

        {% block content %}{% endblock %}
    </div> {#container#}


    <style>
        .elnav{
            background: url("{{ asset('recursos/fondos/fondo_nav1.jpg') }}");
            border-bottom:1vh outset #0d0f15;
        }
    </style>
{% endblock %}