{% extends 'layout.html.twig' %}
{% block content %}
    {% block listaCartas %}


            <h1>Coleccion de {{ usuario.nickname }}</h1>
            <div id="cont_tabla_cartas">
                <table class="tabla_cartas table-responsive-lg panel_fondo_transparente">

                    {% set raiz =  'recursos/cardsImages/' %}

                    <tr class="fila_tabla primera_fila_tabla">
                        {%  for carta in cards %}
                        {% if usuario %}
                            {% set imageRoute = carta.typeCard.imageRoute %}
                        {% else %}
                            {% set imageRoute = carta.imageRoute %}
                        {% endif %}
                        {% if loop.index == 6 or loop.index == 11 or loop.index == 16 or loop.index == 21%}
                    </tr>
                    <tr class="fila_tabla {{ loop.index}}" >
                        {% endif %}


                        <td class=""><a href="#">
                                <img class="img_carta_lista img-fluid" style="height: 140px;width: 135px;" src="{{ asset(raiz~imageRoute~'.jpg') }}" alt="{% if usuario == null %}{{ carta.name }}{% endif %}">
                            </a>
                        </td>

                        {% endfor %}
                </table>
            </div>
    {% endblock %}

    {% block listaDecks %}
        <h3>Equipos</h3>
        <div id="cont_lista_decks" class="panel_fondo_transparente">

            <ul class="lista_decks">
                {% for escuadron in usuario.decks %}
                    <li class="deck"><a href="{{ path('deck_editar', {'deck': escuadron.id, 'id': usuario.id}) }}"><i class="fa fa-biohazard"></i>{{ escuadron.deckname }}</a></li>
                {% endfor %}
                <form action="{{ path('deck_nuevo', {'id': usuario.id}) }}">
                    <li><button class="btn-outline-primary" type="submit"><i class="fa fa-plus"></i> Nuevo Escuadrón</button></li>
                </form>
            </ul>
        </div>
    {% endblock %}

{% endblock %}