{% extends 'layout.html.twig' %}

{% block content %}
{% block controlUsuario %}
{% if usuario %}
    <div id="container_control_itf_usuario">
        <div class="control_itf_main_menu">
            <div>
                {% set raiz =  'recursos/cardsImages/' %}
               <ul>
                   <li class="itf_logo"><i class="fa fa-bars control_itf_icon"></i></li>
                   <li><a href="" class="itf_logo"><i class="control_itf_icon fa fa-yen-sign -yen-sign"><span class="txt_mostrar"> {{ usuario.nickname }}</span></i></a></li>
                   <li><a href="" class="itf_logo"><i class="control_itf_icon"></i><span class="txt_mostrar"> {{ usuario.nickname }}</span></a></li>
                   <li><a href="" class="itf_logo"><i class="control_itf_icon"></i><span class="txt_mostrar"> {{ usuario.nickname }}</span></a></li>
                   <li><a href="" class="itf_logo"><i class="control_itf_icon"></i><span class="txt_mostrar"> {{ usuario.nickname }}</span></a></li>
                   <li><a href="{{ path('deck_nuevo' , {'id':usuario.id} )}}" class="itf_logo"><i class="control_itf_icon"></i><span class="txt_mostrar">Nuevo escuadrón</span></a></li>
                   <li><a href="{{ path('carta_comprar_una' , {'id':usuario.id} )}}" class="itf_logo"><i class="control_itf_icon"></i><span class="txt_mostrar"> {{ usuario.nickname }}</span></a></li>

                   {% if is_granted('ROLE_ADMIN') %}
                       <li >
                           <a href="{{ path('deck_nuevo' , {'id':usuario.id} )}}" class="itf_logo"> <span><i class="far fa-compass fa-fw"></i></span> admin cp</a>
                           <a href="{{ path('carta_comprar_una' , {'id':usuario.id} )}}" class="itf_logo"><span><i class="far fa-map fa-fw"></i></span> mod cp</a>
                       </li>
                   {% endif %}
               </ul>


            </div>
        </div>
    </div>
{% endif %}
{% endblock %}
{% block mainMenu %}{% endblock %}
{% block listaCartas %}{% endblock %}
{% endblock %}
