{% extends 'layout.html.twig' %}

{% block contenidoExt %}

    <div id="fondo_ranking" style="width:105%;height: 100%; position: absolute;left: -5%; ;background: url("{{ asset('recursos/fondos/fondo_ranking.jpg') }}")">
    <h1>CyberLords</h1>
    <table class="table" style="overflow-x: scroll;background: url('{{ asset('recursos/fondos/fondo_ranking.jpg') }}')">
        <thead>
        <tr>
            <th class="letra_listas_cabecera"></th>
            <th class="letra_listas_cabecera">NickName</th>
            <th class="letra_listas_cabecera">Créditos</th>
            <th class="letra_listas_cabecera">Rep.</th>
            <th class="letra_listas_cabecera">¿Es admin?</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td class="letra_listas"><a href="{% if is_granted('ROLE_ADMIN') %}{{ path('admin_usuario_editar',{'id':user.id}) }}{% else %}{{ path('cartas_lista_user',{'id':user.id}) }}{% endif %}">{{ user.id }}</a></td>
                <td class="letra_listas"><a href="{% if is_granted('ROLE_ADMIN') %}{{ path('admin_usuario_editar',{'id':user.id}) }}{% else %}{{ path('cartas_lista_user',{'id':user.id}) }}{% endif %}">{{ user.nickname }}</a></td>
                <td class="letra_listas">{{ user.credits }}</td>
                <td class="letra_listas">{{ user.reputation }}</td>
                <td class="letra_listas">{% if user.esadmin %}Sí{% else %}No{% endif %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
{% endblock %}