{% extends 'layout.html.twig' %}

{% block content %}
    <h1>CyberLords</h1>
    <table class="table">
        <thead>
        <tr>
            <th class="letra_listas_cabecera">Id.</th>
            <th class="letra_listas_cabecera">NickName</th>
            <th class="letra_listas_cabecera">Créditos</th>
            <th class="letra_listas_cabecera">Rep.</th>
            <th class="letra_listas_cabecera">V/D</th>
            <th class="letra_listas_cabecera">¿Es admin?</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td class="letra_listas">{{ user.id }}</td>
                <td class="letra_listas">{{ user.nickname }}</td>
                <td class="letra_listas">{{ user.credits }}</td>
                <td class="letra_listas">{{ user.reputation }}</td>
                <td class="letra_listas">{{ user.battleWin }} / {{ user.battlePlayed - user.battleWin }} </td>
                <td class="letra_listas">{% if user.esadmin %}Sí{% else %}No{% endif %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}