{% extends 'layout.html.twig' %}



{% block content %}
    {% if not es_nueva %}
        <h1>Modificar usuario</h1>
    {% else %}
        <h1>Nuevo usuario</h1>
    {% endif %}

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <a href="{{ path('user_list') }}" class="btn btn-info"><i class="fas fa-arrow-left"></i> Volver al listado</a>
    <button type="submit" class="btn btn-primary"><i class="fas fa-check"></i> Guardar cambios</button>
    {% if not es_nueva %}<a href="{{ path('usuario_nuevo', {'id': usuario.id}) }}" class="btn btn-outline-danger"><i class="fas fa-trash"></i> Eliminar usuario</a>{% endif %}


    {{ form_end(form) }}

{% endblock %}